In [3]:
import pandas as pd

# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']

# Correct constructor and variable name
df = pd.DataFrame(lyst)

# Print the output
print(df)

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

In [4]:
import pandas as pd

# initialize data of lists (fix length mismatch)
data = {'Name': ['Angela', 'Precious', 'Luis', 'Ade'],
        'Age': [20, 21, 19, 18]}

# Fix DataFrame typo
df = pd.DataFrame(data)

print(df)

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18

In [5]:
import pandas as pd

data = {'Name': ['Clem', 'Prince', 'Edward', 'Adele'],
        'Age': [27, 24, 22, 32],
        'Address': ['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification': ['Msc', 'MA', 'MCA', 'Phd']}

# Fix 'pf' to 'pd'
df = pd.DataFrame(data)

# Select columns
print(df[['Name', 'Qualification']])

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

In [6]:
import pandas as pd

data = {'Name': ['Oyin', 'Mary', 'David', 'Bola'],
        'Age': [27, 24, 22, 32],
        'Address': ['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification': ['Msc', 'MA', 'MCA', 'Phd']}

# Fix DataFrame typo
df = pd.DataFrame(data)

# Select first row
print(df.iloc[0])

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

In [10]:
import pandas as pd

# Load CSV file into a DataFrame
data = pd.read_csv("C:/Users/23480/Desktop/employee_records.csv")

# Display the DataFrame
print(data)

    Employee Names  Years  Assesment Records  Points  Reward
0      Matthew Ade     25              125.3      21  438.55
1   Angela Adebisi     15               77.9      14  181.77
2  Calistus Ndukwe     10              144.2      18  432.60
3   Martha Martins      9               81.5      25  339.58
4    Victor Sayola     18               77.8      33  427.90
5      Adamu Bello     23               99.5      24  398.00

In [11]:
import pandas as pd

data = pd.read_csv("C:/Users/23480/Desktop/employee_records.csv")

# fix 'datas' and 'dg'
df = data.iloc[0]

print(df)

Employee Names       Matthew Ade
Years                         25
Assesment Records          125.3
Points                        21
Reward                    438.55
Name: 0, dtype: object

In [13]:
import pandas as pd

# Correct typo in 'panda' and filename
data = pd.read_csv("C:/Users/23480/Desktop/employee_records.csv")

df = data.head(1)

print(df)

  Employee Names  Years  Assesment Records  Points  Reward
0    Matthew Ade     25              125.3      21  438.55

In [14]:
import pandas as pd

# Dictionary
data = {'name': ["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score': [90, 40, 80, 98]}

df = pd.DataFrame(data)

# Correct dictionary name and use iterrows
for i, row in df.iterrows():
    print(i, row)
    print()

0 name      Abdul
degree      MBA
score        90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name        Seyi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Matt
degree     MBA
score       98
Name: 3, dtype: object

In [15]:
import pandas as pd

data = {'name': ["Bello", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score': [90, 40, 80, 98]}

df = pd.DataFrame(data)

columns = list(df.columns)

for col in columns:
    print(df[col][2])

Ugochi
M.Tech
80

In [17]:
import pandas as pd

records = {'name': ["Abel", "Kamsi", "Oyode", "Chinelo"],
           'degree': ["MBA", "BCA", "M.Tech", "MBA"],
           'score': [90, 40, 80, 98]}

df = pd.DataFrame(records)

df.to_csv('record.csv', index=False)